@color1: rgb(249, 113, 103);
@color2: rgb(153, 215, 217);
@color3: rgb(248, 220, 159);
@color4: rgb(250, 187, 124);
@color5: rgb(151, 208, 99);
@color6: rgb(117, 194, 194);
@colorFont: #333;

.page-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: @color1;
  // color: rgb(17, 150, 174);
  color: @colorFont;

  .title {
    font-size: 24px;
    text-align: center;
    border-bottom: 3px solid rgb(151, 182, 218);
    padding: 10px 20px;
    border-radius: 12px;
  }

  .envelope-wrap {
    position: relative;
    margin-top: 30px;

    .envelope {
      width: 340px;
    }

    .heart {
      position: absolute;
      left: 0px;
      right: 0px;
      width: 340px;
      z-index: 10;
    }
  }
}

.start {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  font-size: 24px;
  border: 3px solid rgb(226, 149, 155);
  padding: 10px 20px;
  border-radius: 12px;
  width: 100px;
}

.page2-container {
  padding-top: 40px;
  background-color: @color2;

  .title {

    p {
      font-size: 24px;
      color: @colorFont;
      text-align: center;
      line-height: 48px;

      span {
        font-size: 30px;
        color: rgb(221, 22, 22);
      }
    }
  }

  .con {
    margin-top: 30px;

    p {
      font-size: 24px;
      color: @colorFont;
      text-align: center;
      line-height: 48px;

      span {
        font-size: 30px;
        color: rgb(221, 22, 22);
      }
    }

    img {
      margin: 10px auto 0;
      display: block;
      width: 320px;
    }
  }
}

.page3-container {
  background-color: @color3;
  padding: 40px 16px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .font {
    font-size: 20px;
    color: @colorFont;
    line-height: 40px;
  }

  .start {
    margin-top: 50px;
    display: block;
    font-size: 24px;
    border: 3px solid rgb(226, 149, 155);
    padding: 10px 20px;
    border-radius: 12px;
  }
}

.page4-container {
  background-color: @color4;
  padding: 40px 16px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .font {
    font-size: 20px;
    color: @colorFont;
    line-height: 40px;
  }

  .img-wrap {
    margin-top: 30px;
    width: 300px;
    // .swiper-slide {
    //   width: 300px !important;
    // }

    .img-item {
      width: 300px;
    }
  }
}